<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Vino en mi ciudad - Registrarse</title>
</head>
<body>
    <h1 class="titulo_register">REGISTRARSE</h1>
    <section class="form-container">
        

        <form class="formulario-registro" style="text-align: center;">
            <div>
                <span>Nombre:</span>
                <input type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Escriba su nombre">
            </div>
        
            <div>
                <span>Email:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Escriba su email">
            </div>
            
            <div>
                <span>Teléfono:</span>
                <input type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Escriba un número de teléfono">
            </div>
            
            <div>
                <span>Contraseña:</span>
                <input type="password" placeholder="Escriba una contraseña">
            </div>
        </form>
    </section>
    
</body>
</html>